.MovieBorder {
  transition: all 0.4s;
  border: 3px solid transparent;
  position: relative;
}

.MovieBorder:hover {
  border: 3px solid #2a9d8f !important;
}

.Links {
  text-decoration: none;
}

.Watched {
  font-size: 20px;
  color: #b6b6b6;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}

.MovieLink {
  width: calc(25% - 2%);
  margin: 0 1% 4% 1%;
}

.MovieThumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Navbar1{
  border: 1px solid #8f8f8f;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px 0px;
  margin-left: 2%;
  margin-top: 3%;
}

.NavbarText{
  color: #b6b6b6;
  margin-left: 10px;
  transition: .3s;
}

.NavbarText:hover{
  color: #ebebeb;
}

