.MovieBorder {
    transition: all .4s;
    border: 3px solid transparent;
    position: relative;
}

.MovieBorder:hover {
    border: 3px solid #2A9D8F !important;
}

.Links {
    text-decoration: none;
}

.Watched {
    font-size: 20px;
    color: #b6b6b6;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}