@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.AvatarQuote {
    font-family: 'Inter', sans-serif !important;
    font-size: 90px !important;
    color: #ebebeb;
    z-index: 10;
    position: inherit;
    text-align: center;
    line-height: 1 !important;
    background-position: center;
    mix-blend-mode: luminosity;
}


.MovieBorder {
    transition: all .4s;
    border: 3px solid transparent;
    position: relative;
}

.MovieBorder:hover {
    border: 3px solid #2A9D8F !important;
}

.avatarTrailer {
    transition: .4s;
}

.avatarTrailer:hover {
    filter: brightness(100%);
}

.avatarTrailerText:hover .avatarTrailer {
    filter: brightness(100%);
}

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    z-index: 1;
    padding-top: 10px;
    transition: .4s;
    padding-left: 10%;
}

.Navbar:hover {
    box-shadow: inset 0px 15px 15px 0px #050809d7;
}


.NavbarText {
    color: #ebebeb;
    font-weight: 600 !important;
    font-size: 14px !important;
    letter-spacing: 1px;
}

.NavbarText:hover {
    color: #ffffff;
}

.NavbarHeader {
    color: #ebebeb;
    font-weight: 800 !important;
    letter-spacing: 1px;
}

.Links {
    text-decoration: none;
}