.ListBox {
    transition: all 0.4s;
    border: 3px solid #293e3c;
}

.ListBox:hover {
    border: 3px solid #2a9d8f !important;
}

.Links {
    text-decoration: none;
}

.profilePicture{
    width: 50px;
    height: 50px;
}

.ListDescription{
    width: 200px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.ListButton{
    border: 1px solid #000 !important;
}


.ListButton:hover{
    background-color: transparent;
    border: 1px solid #ebebeb !important;
    color: #ebebeb;
}