.changePic {
    text-decoration: none;
}

.changePicbutton {
    
}

.SaveButton {
    background-color: #ebebeb !important;
    color: #000 !important;
    text-decoration: none !important;
    text-transform: none !important;
    font-size: 14px !important;
}

.SaveText {
    font-size: 14px !important;
    color: #000 !important;
}

.changeButton{
    background-color: #ebebeb !important;
    color: #000 !important;
    text-decoration: none !important;
    text-transform: none !important;
    font-size: 14px !important;
    margin-left: 20px !important;
}